body {
    background-color: hsl(342, 15%, 12%);
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;

    h1 {
        font-weight: 600;
    }

    span {
        font-weight: 300;
    }
}